@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .separador{
        @apply grid grid-cols-4 px-8 py-2 place-items-center bg-decredgreen shadow-lg text-decreddark;
    }
    .boton-amarillo{
        @apply bg-decredyellow rounded-xl px-4 font-bold uppercase text-sm shadow-md;
    }
}

.nav-overlay {
    transition: 0.5s;
    left: 100vw;
}

.show {
    left: 34vw;
}

#all-content {
    transition: 0.5;
}
